dir
*
!.emacs
!.emacs.d/*
/Documents/*
.emacs.d/.emacs.deskto*
.emacs.d/auto-save-list/*
.emacs.d/.smex-items
.emacs.d/emacs-backup
*.elc
.emacs.d/el-get/el-get/recipes/emacswiki/*
.emacs.d/el-get/el-get/recipes/elpa/*
.emacs.d/el-get/*
.emacs.d/session.*
eMail.py
__init__.py
manage.py
settings.py
urls.py
LICENSE
README.md
accounts/
apache/
db.files/
qualApp/
templates/
/.emacs.d/elpa/archives/gnu/archive-contents
/.emacs.d/elpa/archives/marmalade/archive-contents
/.emacs.d/elpa/archives/melpa/archive-contents
/.emacs.d/request/curl-cookie-jar
!.emacs.d/lisp/*
/.emacs.d/.ido.last
