dir
.emacs.d/.emacs.desktop*
.emacs.d/auto-save-list/*
.emacs.d/emacs-backup
*.elc
.emacs.d/el-get/el-get/recipes/emacswiki/*
.emacs.d/el-get/el-get/recipes/elpa/*
*
!.emacs
!.emacs.d
eMail.py 
__init__.py 
manage.py 
settings.py 
urls.py
LICENSE
README.md
accounts/
apache/
db.files/
qualApp/
templates/
