;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat May 11 17:55:29 2013
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist (list (list 213465889 "Unprintable entity" (let ((mk (make-marker))) (add-hook 'desktop-delay-hook (list 'lambda '() (list 'set-marker mk nil (get-buffer " *temp*")))) mk)) (list 213465879 "Unprintable entity" (let ((mk (make-marker))) (add-hook 'desktop-delay-hook (list 'lambda '() (list 'set-marker mk 1 (get-buffer "Gratitude.txt")))) mk)) '(48 . ";; So the idea is that you copy/paste this code into your *scratch* buffer,\n;; hit C-j, and you have a working el-get.\n(url-retrieve\n \"https://raw.github.com/dimitri/el-get/master/el-get-install.el\"\n (lambda (s)\n   (goto-char (point-max))\n   (eval-print-last-sexp)))")))
(setq file-name-history '("c:/Users/N/AppData/Roaming/.emacs.d/el-get/.gitignore" "c:/Users/N/Documents/GitHub/el-get" "c:/Users/N/Documents/GitHub/el-get/el-get-install.el" "c:/Users/N/Documents/GitHub/el-get/" "c:/Users/N/AppData/Roaming/.emacs.d/el-get/el-get/README.md" "c:/Users/N/AppData/Roaming/.emacs" "c:/Users/N/Documents/GitHub/el-get/el-get-install.el" "c:/Users/N/Documents/GitHub/el-get/" "c:/Users/N/Documents/GitHub/el-get" "c:/Users/N/Dropbox/projects/password/bin/generate.py" "c:/Users/N/Documents/Gratitude.txt"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "c:/Users/N/AppData/Roaming/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(visual-line-mode global-visual-line-mode linum-mode)
  1
  '(764 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-dos) (truncate-lines)))

(desktop-create-buffer 206
  "c:/Users/N/Documents/Gratitude.txt"
  "Gratitude.txt"
  'text-mode
  '(visual-line-mode global-visual-line-mode linum-mode)
  27275
  '(26878 nil)
  nil
  nil
  '((buffer-file-coding-system . japanese-shift-jis-dos) (truncate-lines)))

(desktop-create-buffer 206
  "c:/Users/N/AppData/Roaming/.emacs.d/el-get/.gitignore"
  ".gitignore"
  'fundamental-mode
  '(visual-line-mode global-visual-line-mode linum-mode)
  49
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos) (truncate-lines)))

